<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irgups.sabina.irgupsinfo"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name"
                 android:theme="@style/CustomActionBarTheme"
                 android:icon="@drawable/icon"
                 android:screenOrientation="portrait">
        <activity
            android:name="com.irgups.sabina.irgupsinfo.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".TimeTable"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Info"
                  android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>